# Kopiere diese Datei zu .env und trage sichere Passwörter ein
# Niemals .env in Git pushen!

MYSQL_PASSWORD=aendere_mich_zu_einem_sicheren_passwort
MYSQL_ROOT_PASSWORD=aendere_mich_zu_einem_anderen_sicheren_passwort
